<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.agents.douban</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Agent</string>
	<key>PlexPluginCodePolicy</key>
	<string>Elevated</string>
	<key>PlexAgentAttributionText</key>
	<string>Ratings, genres and posters from &lt;a href="http://www.douban.com"&gt;豆瓣Douban&lt;/a&gt;</string>
	<string>评分、电影类型、海报等信息来源于 &lt;a href="http://www.douban.com"&gt;豆瓣Douban&lt;/a&gt;，

更多PLEX中文插件、使用教程，请访问&lt;a href="http://www.plexmedia.cn"&gt;PLEX中文网&lt;/a&gt;</string>
</dict>
</plist>
